<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    
    <!-- 1st level -->
    <add key="Id" value="366f4bd3-6717-4b14-9c79-70515296df7e" />
    <add key="Date" value="1999-01-01" />
    <add key="Text" value="level 1" />
    
    <!-- 2nd level -->
    <add key="Nested.Id" value="e591be31-289f-4a99-ba67-288ea24b7d7e" />
    <add key="Nested.Date" value="1999-02-02" />
    <add key="Nested.Text" value="level 2" />
  
    <!-- 4th level -->
    <add key="Nested.Nested.Nested.Id" value="3bfdd62f-8b31-4aa2-931d-46535f291b0e" />
    <add key="Nested.Nested.Nested.Date" value="1999-04-04" />
    <add key="Nested.Nested.Nested.Text" value="level 4" />

  </appSettings>
</configuration>